* {
    margin: 0px;
    padding: 0px;
}
body {
    color: #606060;
    width: 980px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin: 20px 0px;
    line-height: 1.9em
}
a {
    color: #606060;
}
h2 {
	margin-top: 40px;
	margin-bottom: 30px;
}
h3 {
	margin-top: 40px;
	margin-bottom: 30px;
	text-decoration: underline;
}
.center {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.center-wide {
	width: 830px;
	margin: 40px auto;
}
.left {
	width: 526px;
	margin: 40px 30px;
}
.left-40 {
	width: 40%;
	display: inline-block;
}
.right-60 {
	display: inline-block;
	width: 59%;
	text-align: right;
}
.left-50 {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.right-50 {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}
.logo-w-stripe {
	background: -webkit-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
								 #ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: -moz-linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
									 #ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: -ms-linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
									#ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: -o-linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
								   #ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
								#ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	display: block;
	text-decoration: none;
	height: 60px;
	line-height: 60px;
	background-size: 8px 8px;
	color: black;
	text-decoration: none;
	font-family: "Quicksand", "Century Gothic", sans-serif;
	font-weight: 500;
	font-size: 34px;
	letter-spacing: 1px;
	padding-left: 32px;
}
.logo-mid {
	text-decoration: none;
	font-family: "Quicksand", "Century Gothic", sans-serif;
	font-weight: 500;
	font-size: 26px;
	letter-spacing: 1px;
}
.column3 {
	float: left;
	width: 28%;
	padding: 16px;
}
.column-break {
	clear: both;
}
.frame {
	height: 280px;
}
.white {
	color: #eee;
}
h1.page-title {
	margin-bottom: 30px;
}
div.project ul {
	background-color: white;
	margin-top: 10px;
	width: 88px;
	position: absolute;
	list-style-type: none;
	visibility: hidden;
	transition: visibility 0s linear 0.5s;
}
div.project:hover ul {
	visibility: visible;
	transition: visibility;
}
hr.large {
    margin: 30px 0px;
}
hr.small {
    margin: 6px 0px;
}
#header {
}
#header #navi-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	top: 0;
	left: 0;
}
#header #navi {
    text-align: center;
}
#header #navi div {
    display: inline-block;
    width: 88px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    font: normal normal normal 16px/1.4em enriqueta,serif;
}
#content {

}
#footer {
    color: #eee;
    text-align: right;
    margin-top: 40px;
    padding-right: 20px;
    background-color: #555555;
    height: 35px;
    line-height: 35px;
}
#menu-button {
	position: absolute;
	display: none;
	height: 100%;
	width: 40px;
	left: 0;
	top: 0;
	background-color: red;
}

@media screen and (max-width:479px) {
	body {
		width: 100%;
	}
	img {
		width: 100%;
	}
	.column3 {
		width: 100%;
		padding: 0px;
		margin: 10px 0px;
	}
	.frame {
		overflow-y: visible;
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
	}
	.left-40 {
		width: 100%;
		display: block;
	}
	.right-60 {
		width: 100%;
	}
	.left-50 {
		width: 100%;
		display: block;
	}
	.right-50 {
		width: 100%;
		display: block;
	}
	.center, .center-wide, .left {
		width: auto;
		margin: 40px 0px;
	}
	div.project ul {
		background: none;
		width: 100%;
		position: static;
		list-style-type: none;
		visibility: visible;
		margin-left: 18px;
	}
	#content {
		width: 92%;
		margin: 0px auto;
	}
	.logo-w-stripe {
		padding-left: 0px;
		text-align: center;
	}
	#header {
		position: fixed;
		width: 100%;
		margin-bottom: 30px;
	}
	#content {
		padding-top: 80px;
	}
	#header h1 {
		display: block;
	}
	#header #navi {
		position: fixed;
		top: 0;
		z-index: 2;
		background-color: #eee;
		width: 240px;
		height: 100%;

		-webkit-transition-property: transform;
		-moz-transition-property: transform;
		-o-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: .2s;
		-moz-transition-duration: .2s;
		-o-transition-duration: .2s;
		transition-duration: .2s;
	}
	.navi-hidden {
		transform: translate(-240px, 0px);
		-webkit-transform: translate(-240px, 0px);
	}
	#header #navi div {
		display: block;
		width: 100%;
		height: auto;
		margin: 8px;
		font: normal normal normal 16px/1.4em enriqueta,serif;
		text-align: left;
	}
	#menu-button {
		display: block;
	}
}

