* {
    margin: 0px;
    padding: 0px;
}
body {
    color: #606060;
    width: 980px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin: 20px 0px;
    line-height: 1.9em
}
a {
    color: #606060;
}
.center {
	width: 400px;
	margin: 40px auto;
	text-align: center;
}
.center-wide {
	width: 830px;
	margin: 40px auto;
}
.left {
	width: 526px;
	margin: 40px 30px;
}
.left-40 {
	width: 40%;
	display: inline-block;
}
.h3 {
	margin: 30px 0px;
	text-decoration: underline;
}
.logo-w-stripe {
	background: -webkit-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
								 #ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: -moz-linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
									 #ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: -ms-linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
									#ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: -o-linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
								   #ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	background: linear-gradient(-45deg, #ddd 5%, #fff 5%, #fff 45%, #ddd 45%,
								#ddd 55%, #fff 55%, #fff 95%, #ddd 95%, #ddd);
	display: block;
	text-decoration: none;
	height: 60px;
	line-height: 60px;
	background-size: 8px 8px;
	color: black;
	text-decoration: none;
	font-family: "Quicksand", "Century Gothic", sans-serif;
	font-weight: 500;
	font-size: 34px;
	letter-spacing: 1px;
	padding-left: 32px;
}
.logo-mid {
	text-decoration: none;
	font-family: "Quicksand", "Century Gothic", sans-serif;
	font-weight: 500;
	font-size: 26px;
	letter-spacing: 1px;
}
.column3 {
	float: left;
	width: 28%;
	padding: 16px;
}
.column-break {
	clear: both;
}
.under {
	position: relative;
	vertical-align: center;
}
.left-on {
	color: #eee;
	width: 340px;
	right: 40px;
	position: absolute;
	top: 40px;
	right: 30px;
}
h1.page-title {
	margin-bottom: 30px;
}
div.project ul {
	background-color: white;
	margin-top: 10px;
	width: 88px;
	position: absolute;
	list-style-type: none;
	visibility: hidden;
	transition: visibility 0s linear 0.5s;
}
div.project:hover ul {
	visibility: visible;
	transition: visibility;
}
hr.large {
    margin: 30px 0px;
}
hr.small {
    margin: 6px 0px;
}
#header {
}
#header #navi {
    text-align: center;
}
#header #navi div {
    display: inline-block;
    width: 88px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box;
    font: normal normal normal 16px/1.4em enriqueta,serif;
}
#content {

}
#footer {
    color: #eee;
    text-align: right;
    margin-top: 40px;
    padding-right: 20px;
    background-color: #555555;
    height: 35px;
    line-height: 35px;
}

@media screen and (max-width:479px) {
	body {
		width: 100%;
	}
	img {
		width: 100%;
	}
	.center {
		width: 100%;
	}
	.left {
		width: 100%;
		margin: 40px 0px;
	}
	.column3 {
		width: 100%;
		padding: 0px;
		margin: 10px 0px;
	}
	.left-40 {
		width: 100%;
		display: block;
	}
}
